* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p, h1, h3 {
    color: white;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 1.5rem;
}

.container {
    width: 100%;
    padding: 0% 7% 0 0%;
    background-color: rgb(10,15,37);
    position: relative;
}

.image1 {
    width: 64%;
}

.container-text {
    position: absolute;
    right: 5%;
    z-index: 2;
    top: 7%;
    left: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-second {
    width: 100%;
    background-color: rgb(255, 162, 41);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 6%;
}

.container-third {
    width: 100%;
    padding: 2%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img2 {
    height: 400px;
}

.container-last {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}